# Next.js build output
.next/
out/

# Dependencies
/node_modules

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*.local

# macOS files
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts
